.features {
  background: $light-color;
  padding-top: 115px;
  padding-bottom: 78px;
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 68px;
  }
  &__item {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 33%;
    padding-left: 71px;
    padding-bottom: 83px;
    margin-right: -16px;
    @media (max-width: 956px) {
      width: 50%;
      padding-left: 55px;
      padding-bottom: 68px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    p {
      padding-top: 12px;
      color: #898989;
    }

    i {
      position: absolute;
      top: -2px;
      left: 0px;
      font-size: 48px;
      @media (max-width: 956px) {
        top: 1px;
        left: 10px;
        font-size: 30px;
      }
    }
  }
  .section-title {
    .lead {
      padding-left: 60px;
      padding-right: 60px;
      @media (max-width: 956px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
