body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background: $main-color;
  // @media (max-width: 1280px) {
  //   background: green;
  // }
  // @media (max-width: 956px) {
  //   background: yellow;
  // }
  // @media (max-width: 768px) {
  //   background: violet;
  // }
  // @media (max-width: 480px) {
  //   background: aqua;
  // }
}
* {
  box-sizing: border-box;
}
.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  @media (max-width: 1280px) {
    width: 790px;
  }
  @media (max-width: 956px) {
    width: 600px;
  }
  @media (max-width: 768px) {
    width: 420px;
  }
  @media (max-width: 480px) {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style-type: none;
}
h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}
.lead {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 20px 0;
}

p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.section-title,
.banner-title {
  h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin: 0;
  }
}
.text-center {
  text-align: center;
}

%btn-shared {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  width: 125px;
  cursor: pointer;
}

.btn {
  &__main {
    @extend %btn-shared;
    color: #010101;
    background: $main-color;
    transition: $transition-base;
    &:hover {
      opacity: 0.8;
      color: $hover-color-dark;
    }
  }
}
